/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */

body {
    position: relative;
}

p {
    margin-bottom: 24px;
}

p:last-child {
    margin-bottom: 0;
}
.fea-coupon_btn{
	display: none!important;
}
.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.facetwp-pager span{
    vertical-align: middle;
}
.fl-callout-title span.fl-callout-title-text{
    line-height: 1.2;
}
.gallerypopbtn{
    display: none !important;
}

.container {
    width: 100%;
    max-width: 1250px;
}

button,
input[type=button],
input[type=submit],
a.button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
    background: #ccaa50;
    border: 1px solid #ccaa50;
    color: #fff;
    text-align: center;
    padding: 7px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    text-decoration: none;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
}

a.fl-button *,
a.fl-button:visited *,
.fl-builder-content a.fl-button *,
.fl-builder-content a.fl-button:visited * {
    color: #fff;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
a.button:hover,
a.fl-button:hover,
a.fl-button:visited:hover,
.fl-builder-content a.fl-button:hover,
.fl-builder-content a.fl-button:visited:hover {
    background: #fff;
    color: #ccaa50;
    text-decoration: none;
    border-color: #ccaa50;
}

a.fl-button:hover *,
a.fl-button:visited:hover *,
.fl-builder-content a.fl-button:hover *,
.fl-builder-content a.fl-button:visited:hover * {
    color: #ccaa50;
}

.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/*  Header CSS */

.fl-page-nav-centered-inline-logo {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    z-index: 7;
    box-shadow: none;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
}

.fl-page-nav-centered-inline-logo .fl-page-nav-wrap .navbar-nav {
    margin: 0 0 0 -50px;
}

.fl-page-nav-centered-inline-logo .fl-page-header-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fl-page-nav-centered-inline-logo .navbar-nav li.fl-logo-centered-inline {
    margin: -50px 10px -50px 0px;
    width: 250px;
    padding-left: 15px;
}

.fl-page-header-fixed.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
    color: #000 !important;
    font-size: 16px;
}

/* .fl-page-nav-centered-inline-logo .navbar-nav li.fl-logo-centered-inline img{
    max-width: 65%;
} */

/* Slick Slider CSS*/

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Breadcrumbs */

.breadcrumbs {
    font-size: 90% !important;
    padding: 20px 15px 0;
}

.breadcrumbs a {
    font-size: 100% !important;
}

/* Top Bar 1 */

.top-bar-1 {
    text-align: left;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    padding: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
}

.top-bar-1 .fl-row-content-wrap {
    background: none !important;
}

.top-bar-1 .fl-row-content-wrap .fl-module-content {
    margin-top: 0;
    margin-bottom: 0;
}

.top-bar-1 .fl-module-heading .fl-heading {
    margin: 0;
    padding: 0;
}

.top-bar-1 a {
    color: #fff;
    font-size: 85%;
    font-weight: 300 !important;
}

.top-bar-1 .fl-module-icon {
    margin-top: 5px;
}

.top-bar-1 .fl-module-icon .fl-module-content {
    margin: 0;
}

.top-bar-1 .fl-module-icon .fl-icon-text {
    padding-left: 10px;
    height: auto !important;
}

.top-bar-1 .fl-module-icon .fl-icon-text p {
    display: block;
    margin: 0;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 30px 10px 30px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
    font-weight: 300 !important;
}

.white-link a {
    color: #fff !important;
}

/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    font-weight: 700;
    text-align: left;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #2d2d2d;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #fff;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    text-align: right;
}

/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #2d2d2d !important;
}

.fl-page-nav-wrap .navbar-nav>li {
    margin: 0 15px;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 400;
    color: #fff !important;
    font-size: 18px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu,
.fl-page-nav ul.sub-menu {
    border-top: 3px solid #ccaa50;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #2d2d2d !important;
}

.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #2d2d2d !important;
        font-size: 90%;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (max-width: 1100px) {
    .fl-page-nav .navbar-nav li>a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        /* margin-left: -60%; */
        text-align: center;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
    .facetwp-per-page select{
        width: 120px !important;
    }
    .fl-node-5c6bfa593e856 .fl-slide-foreground{
        position:absolute;
        width:100%;
        top:40%;
    }
    .fl-node-5c6bfa593e856 .fl-slide-0 .fl-slide-content{
        background-color:rgba(0,0,0,0.55);
    }
}

/* Search */

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: 0px;
    top: 63px;
    width: 1040px;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        padding: 20px;
        top: 65px;
        width: 350px;
    }
}

/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #2d2d2d !important;
}

header .fl-row-content {
    position: relative;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px) rotate( 45deg);
        -ms-transform: translateX( -5px) rotate( 45deg);
        transform: translateX( -5px) rotate( 45deg);
        border-color: #2d2d2d;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 36px 10px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}

/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 0px solid #2d2d2d;
    }
    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        border-top: 1px solid #2d2d2d;
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px!important;
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 80%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        -moz-transform: scale(1.5, 1);
        -ms-transform: scale(1.5, 1);
        -o-transform: scale(1.5, 1);
        transform: scale(1.5, 1);
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-19634.menu-item-has-children:hover::before {
        margin-left: 8%;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}

/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}

/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff!important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC!important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #B31A21 !important;
    border: none;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}

/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}

/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}

/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0!important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

/* .tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #ccaa50;
} */

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table-cell;
    width: 1%;
    float: none;
    border-radius: 100%;
    background: none;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs .fl-tabs-panels {
    background: none;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 {
    max-width: 1100px;
    margin: 0 auto;
}

.tabs-5 .fl-tabs-label {
    /* max-width: 20%; */
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px;
    text-align: center;
}

/* .tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #ccaa50 !important;
} */

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    float: none;
    display: table-cell;
    width: 1%;
    border-radius: 100%;
    max-width: none;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label.fl-tab-active {
    color: #ccaa50 !important;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .tab_desc {
    width: 40%;
    float: left;
    margin-right: 5%;
    padding: 20px 20px 20px 0;
    font-family: 'Playfair Display', sans-serif;
    color: #000;
    font-size: 13px;
    line-height: 24px;
}

.tabs-5 .tab_title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #000;
    margin: 0 0 20px;
}

.tabs-5 .tab_desc a.button {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 5px 45px;
    letter-spacing: 1.2px;
}

.tabs-5 .tab_img {
    padding: 20px;
    width: 55%;
    float: left;
}

.tabs-5 .tab_img img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}

/*location row */

.location-row a {
    color: #808080 !important;
}

.location-top a {
    color: #2d2d2d !important;
    font-weight: 700;
}

.location-top .fl-button {
    width: 100% !important;
    text-align: center;
}

/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
}

/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}

/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}

/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}

/* Product Box */

.product-box {
    text-align: left;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}

/* Product Colors */

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}

/* Product Attributes */

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
    padding: 12px !important;
}

.product-attributes table th {
    width: 30%;
}

.product-attributes table td {
    width: 70%;
}

/* Product Swatch */

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
}

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}

/* Product Variation */

.product-variations {
    margin: 80px 0 50px 0;
}

.product-variations img {
    width: 100%;
    height: auto;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

/* Color Box */

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

/* Social Icons */

ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-icons li {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    width: 25px;
    text-align: center;
}

ul.social-icons li a i {
    font-size: 23px;
    color: #767676;
}

ul.social-icons li a:hover i {
    color: #f1463c !important;
}

ul.social-icons li a[title^="angiesList"] {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 20px;
    top: 5px;
}

ul.social-icons li a[title^="angiesList"]:before {
    position: absolute;
    background: #fff;
    top: -4px;
    left: -2px;
    content: '';
    width: 100%;
    height: 15px;
    border: 2px solid #000;
    border-radius: 30px;
}

ul.social-icons li a[title^="angiesList"]:after {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 0;
    height: 0;
    left: 3px;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
}

ul.social-icons li a[title^="angiesList"] .fab:after {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    content: '';
    width: 0;
    height: 0;
    left: 5px;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #fff transparent transparent transparent;
}

/* Mobile Menus */

header .close_menu,
header .show_menu,
header .search_mobile,
header .close_search,
header .search_wrapper {
    display: none;
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}

/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}

.footer-1-top h3.fl-heading {
    font-weight: 700!important;
}

.footer-1-top .fl-social-icons {
    text-align: center !important;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}

.footer-1-top .fl-module-menu .fl-menu .menu {
    padding: 0;
    margin: 0;
}

.footer-1-top .fl-module-menu .fl-menu .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.footer-1-top .fl-module-menu .fl-menu .menu li a {
    padding: 5px 0px;
    font-size: 14px;
    line-height: 24px;
}

.footer-1-top .footer-menu .fl-menu .menu li {
    display: inline-block;
}

.footer-1-top .footer-menu .fl-menu .menu li a {
    padding: 0 10px;
    font-size: 12px;
}

/* Slider Menu */

.slider-menu {
    position: absolute;
    right: 0px;
    z-index: 100;
    top: 0px;
    height: 460px;
    overflow: hidden;
}

.slider-menu ul {
    background-color: white;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 65px;
    color: #2d2d2d;
    font-weight: bold;
    margin-right: -235px;
}

.slider-menu ul li {
    overflow: hidden;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
    width: 300px;
}

.slider-menu .icon {
    float: left;
    font-size: 23px;
    width: 65px;
    text-align: center;
    border: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    cursor: pointer;
}

.slider-menu .padding {
    padding: 0px 15px;
    display: block;
}

.slider-menu a {
    color: #2d2d2d;
    float: left;
}

@media(max-width:768px) {
    .slider-menu {
        display: none;
    }
}

/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* FL Photo */

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}

/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white!important;
    color: #cc252a!important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}

/* Menu  */

.fl-page-nav-right .fl-page-header-container {
    padding: 10px 0;
    max-width: 1250px;
    width: 100%;
}

@media (max-width:1280px) {
    .fl-page-nav-right .fl-page-header-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.fl-node-5be4ee16d7203 .fl-heading .fl-heading-text {
    font-weight: 300;
}

.fl-node-5c06883d6160a .fl-slide-0 .fl-slide-photo {
    bottom: 0;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fl-tabs-label {
    color: #00263a !important;
}

.fl-tabs-label.fl-tab-active {
    color: #ccaa50 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: -1px;
}

/* Custom CSS */

.welcome-text {
    position: relative;
}

.welcome-text .fl-row-content-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.fl-node-5be442c5366bc .fl-module-heading .fl-heading {
    text-align: left;
    font-size: 14px;
}

.review-wrap {
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    font-family: 'PT Sans Narrow', sans-serif;
}

.review-wrap .fa {
    font-size: 110%;
    margin: 0px;
    vertical-align: middle;
}

.review-wrap .fa:last-child {
    margin-right: 7px;
}

.review-wrap .button {
    margin: 20px 0 0;
    font-size: 14px;
    letter-spacing: 1px;
}

.copyrights .social-icons {
    text-align: center;
}

.copyrights .social-icons a:hover,
.copyrights .social-icons a:hover i {
    color: #000 !important;
}

.copyrights a {
    color: #767676;
}

.copyrights a:hover {
    color: #000;
}

.broken_link,
a.broken_link {
    text-decoration: none!important;
}

.api-textbox,
.api-selectbox {
    width: 200px;
    padding: 4px 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    cursor: pointer;
}

.fl-row-content-wrap {
    background-color: transparent;
}

/* Nav */

.nav-1 a.fl-callout-title-link.fl-callout-title-text {
    color: #DC515A;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.37px;
    line-height: 13px;
}

.nav-1 .fl-module-content.fl-node-content,
.nav-1 .fl-module-content {
    padding: 5px 0px;
    margin: 0px;
}

.nav-1-menu .fl-menu a {
    font-size: 11px!important;
}

.nav-1-menu .menu a {
    padding-top: 0px!important;
}

.nav-1-logo .fl-photo-align-center {
    text-align: left;
}

.nav-1-logo .fl-photo-align-center img {
    width: 178px;
}

.custom-nav .fl-page-nav-search {
    position: absolute;
    right: auto;
    top: auto;
    left: auto;
}

.call-today {
    color: #767676;
    font-family: Roboto;
    font-size: 11px;
    line-height: 23px;
}

.nav-mobile {
    color: #767676;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
}

.nav-small-cart-menu {
    text-align: right;
}

.nav-small-cart-menu ul {
    list-style: none;
    display: inline-flex;
    padding: 2px;
    text-align: right;
    color: #767676;
}

.nav-small-cart-menu ul li {
    padding: 0px 25px;
}

.nav-locations ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-locations ul li {
    width: 20%;
    text-align: center;
}

.nav-locations ul li h3,
.nav-locations ul li span {
    color: #767676;
    margin: 0px;
    font-size: 16px;
}

.nav-address-container {
    text-align: center;
}

.nav-address-container .contactph {
    font-size: 28px;
    color: #767676;
}

.nav-address-container .contactph a,
.nav-address-container a {
    color: #767676;
}

.nav-address-container .socialicons .social-icons li a {
    opacity: 0.5;
}

.nav-address-container .socialicons .social-icons li a:hover {
    opacity: 1;
}

div.nav-cover-image {
    background: transparent;
}

/* Slider CSS */

.fl-module-content-slider .bx-wrapper {
    margin: 0 auto;
}

.fl-module-content-slider .bx-wrapper .bx-pager {
    bottom: 20px;
    padding: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #333;
}

/* Home Page CSS */

.home-opacity .fl-module-content {
    background-color: rgba(255, 255, 255, 0.92);
}

.home-brand-slider .fl-content-slider-wrapper .fl-slide-content .fl-slide-text {
    font-family: 'Playfair Display', sans-serif;
}

.home-brand-slider .fl-content-slider-wrapper .fl-slide-content .fl-slide-text * {
    line-height: 28px;
}

.home-brand-slider .fl-content-slider-wrapper .fl-slide-content .fl-slide-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 45px;
}

.home-brand-slider .fl-content-slider-wrapper .fl-slide-content .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
}

.full-width-img .fl-photo-content,
.full-width-img .fl-photo-content img.fl-photo-img {
    width: 100%;
}

.services-boxes .fl-callout .fl-callout-content .fl-callout-title,
.services-boxes .fl-callout .fl-callout-content .fl-callout-title *,
.services-boxes .fl-callout .fl-callout-content .fl-callout-text-wrap,
.services-boxes .fl-callout .fl-callout-content .fl-callout-text-wrap * {
    color: #383838 !important;
}

.storename li a.fl-button .button-text {
    font-weight: inherit !important;
}

/* #responsive-menu-container #responsive-menu>li:last-child {
    display: none !important;
} */

.footer-mobile-number .fl-icon-wrap .fl-icon-text p,
.name-address p {
    margin: 0px;
    font-weight: 400;
}

.footer-mobile-number .storename li .phone span {
    font-size: 15px;
}

.banner-call-out p {
    color: #fff !important;
}

.fl-module .shadow {
    box-shadow: none !important;
}

#gform_49 .ginput_container_checkbox {
    margin-top: -20px !important;
}

.product-banner-img {
    min-height: 50vh;
}

.location-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.location-list>li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
}

.location-list>li>.fa {
    position: absolute;
    top: 7px;
    left: 0;
}

.location-list>li .address p {
    margin: 0;
}

.location-list>li .storename li,
.banner-call-out .address p {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 0 !important;
}

.location-list>li .storename li a {
    color: #000;
}

.location-list>li .storename li a:hover {
    color: #ccaa50;
}

button#responsive-menu-button {
    z-index: 999;
}

/* Media Queries */

@media (max-width:1280px) {
    .fl-module-uabb-image-carousel .uabb-image-carousel {
        margin: 0;
    }
}

@media (max-width:1250px) {
    .top-bar-1 {
        padding: 0 20px;
    }
    .fl-page-nav-wrap .navbar-nav>li>a {
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width:1140px) {
    .fl-page-nav-centered-inline-logo .fl-page-nav-wrap .navbar-nav {
        margin-left: -50px;
    }
}

@media (max-width:1080px) {
    .fl-page-nav-right.fl-page-header-fixed,
    .fl-page-header-fixed {
        display: none !important;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav-wrap .navbar-nav {
        margin: 0;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav ul.navbar-nav>li.menu-item {
        display: none;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav-search {
        position: absolute;
        top: 25px;
        right: 30px;
    }
    .welcome-text .fl-row-content-wrap {
        position: static;
        background: #000;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col .menu li a {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (max-width:991px) {
    .fl-page-nav-centered-inline-logo .fl-page-nav-search a.fa-search {
        padding-top: 7px;
    }
    .fl-page-bar .fl-page-bar-container {
        padding-left: 0;
        padding-right: 0;
    }
    .fl-page-nav-centered-inline-logo {
        position: absolute !important;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav-col {
        display: none;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-row {
        text-align: center;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo {
        text-align: center !important;
        padding: 0;
        margin: -50px 0 0 !important;
        width: auto;
        display: inline-block !important;
        float: none;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo .fl-logo-img {
        max-height: 160px !important;
        width: auto !important;
    }
    .product-banner-img {
        min-height: 500px;
    }
    .uabb-image-carousel .slick-slide {
        padding: 20px;
    }
    .uabb-image-carousel .slick-prev {
        left: 0 !important;
    }
    .uabb-image-carousel .slick-next {
        right: 0 !important;
    }
    .njba-logo-carousel-main .njba-logo-inner-wrap>a {
        display: inline-block;
    }
    .img_crsl img {
        width: auto !important;
    }
}

@media (max-width: 820px) {
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 33% !important;
        padding: 0 15px;
        max-width: none;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child {
        width: 100% !important;
        order: -1;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content {
        width: auto;
        border-bottom: 1px solid #fff;
        padding: 0 0 45px;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content .fl-module .fl-icon {
        vertical-align: top;
        padding-top: 5px;
        display: inline-block;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content .fl-module .fl-icon-text {
        display: inline-block;
        vertical-align: middle;
    }
}

@media (max-width: 768px) {
    .fl-col-small {
        max-width: 100%;
        padding: 0 15px;
    }
    .top-bar-1 {
        z-index: 90;
    }
    .top-bar-1 .fl-row-content>.fl-col-group>.fl-col {
        position: absolute;
        top: 0;
        z-index: 10;
        /* width: 100% !important; */
        text-align: center;
        max-width: none;
    }
    .top-bar-1 .fl-row-content>.fl-col-group>.fl-col:last-child {
        /* top: 60px; */
        width: auto !important;
        right: 0px;
    }
    .top-bar-1 .fl-row-content>.fl-col-group>.fl-col .fl-heading {
        text-align: center;
    }
    .fl-page-nav-centered-inline-logo {
        top: 0;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-container {
        padding-top: 35px;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo {
        margin-top: 0 !important;
    }
    #djcustom-footer .copyrights {
        text-align: center;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col:first-child {
        order: 3;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col .menu li {
        display: inline-block;
        border-left: 1px solid #848484;
        border-top: 0;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col .menu li:first-child {
        border-left: 0;
    }
    .cat-boxes .fl-module-callout {
        text-align: center;
    }
    .cat-boxes .fl-module-callout>.fl-module-content {
        display: inline-block;
        vertical-align: top;
    }
    .cat-boxes .fl-row-content .fl-col-group>.fl-col:first-child {
        margin-bottom: 30px;
    }
    .fl-page-nav-centered-inline-logo {
        position: relative !important;
    }
}

@media (max-width: 767px) {
    .fl-page-nav-centered-inline-logo .fl-page-header-logo {
        margin: 0px !important;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo .fl-logo-img {
        max-height: 120px !important;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 100% !important;
        border-bottom: 1px solid #fff;
        margin: 0 15px;
        padding-bottom: 15px;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child {
        border-bottom: 0;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content {
        align-items: center;
        flex-direction: column;
    }
    .cat-boxes .fl-module-info-banner .uabb-module-content .uabb-ultb3-img {
        width: 100% !important;
    }
    .fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
        left: 0 !important;
    }
    .fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
        right: 0 !important;
    }
    .hp-product-1 .fl-module-njba-logo-grid-carousel .njba-out-side .njba-logo-image-responsive {
        display: block;
        margin: 0 auto;
        max-height: 180px;
    }
    .tabs-5 .fl-tabs-panels .fl-tabs-label {
        max-width: none;
        text-align: left;
        background: #fbfafa;
        margin-bottom: 15px;
    }
    .tabs-5 .fl-tabs-panels .fl-tabs-label.fl-tab-active {
        background: #f06449;
        color: #fff !important;
        margin-bottom: 0px;
    }
    .tabs-5 .fl-tabs-panels .fl-tabs-label.fl-tab-active .fas:before {
        content: "\f068";
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

@media (max-width: 479px) {
    .top-bar-1 .fl-row-content>.fl-col-group>.fl-col:last-child {
        /* display: none; */
    }
}

.product-grid .fl-post-grid-post .product-grid .fl-button {
    display: none !important;
}

.product-swatch .button-wrapper .button.alt {
    display: none !important;
}

.button-wrapper a:not(.button) {
    text-align: center !important;
}
.addresshighlight .address a{
    color: #fff;
}

.cpt-hover h1.fl-callout-title a:hover,
.cpt-hover h3.fl-callout-title a:hover,
.top-bar-1 .phone a:hover,
.top-bar-1 h5 a:hover,
.top-bar-1 h5 a:hover span,
footer h5 a:hover,
footer .storename a:hover,
footer .fl-icon-text p a:hover,
.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a:hover,
.addresshighlight .address a:hover
{
    color:#ccaa50 !important;
}
.addresshighlight .address p
{
    color : inherit !important;
}
div#breadcrumbs a:hover
{
    color : #ffffff;
}
.single .product-banner-img
{
    min-height: 70vh;
}
.single #breadcrumbs
{
    top: 170px;
}
.topLocation .fl-icon-wrap a:hover p, .phone a:hover span {
    color: #ccaa50!important;
}